<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Doctor Appointment System</title>
    <style></style>
  </head>

  <body>
    <script src="static/js/script.js"></script>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="static/img/logo.png" alt="logo" />

          <div>
            <h2>MedCare</h2>
          </div>
        </div>

        <ul class="menu">
          <li><a href="/doctors">Find Doctor</a></li>

          <li><a href="#">Emergency Services</a></li>

          <li><a href="#">Support</a></li>
        </ul>

        <div class="buttons">
          <button class="signin" href="/login">Sign In</button>

          <button class="appointment">Appointment</button>
        </div>
      </nav>

      <div class="arrowL" onclick="scrollUp()"></div>

      <div class="carousel" id="carousel">
        <div class="hero">
          <div class="left">
            <small>WELCOME TO HEALTH SYNC SERVICES</small>

            <h1>
              Find the Right Doctor,<br />

              Right When You<br />
            </h1>

            <p>
              Connecting you to trusted doctors and helping you make better
              health decisions.
            </p>

            <button type="button" onclick="window.location.href = '/login'">
              Login / Sign In
            </button>
          </div>

          <div class="right">
            <img src="static/img/doctor.jpeg" alt="doctor" />
          </div>
        </div>

        <div class="profile-carousel" id="profileCarousel">
          <div class="profile-card">
            <img src="static/img/doctor.jpeg" alt="Mike Lee" />
            <h3>Mike Lee</h3>
            <p>3rd Place</p>
          </div>
        </div>
      </div>

      <div class="arrow" onclick="scrollDown()"></div>

      <div class="stats">
        <div class="stat">
          <h2>50</h2>

          <p>Best Doctors</p>
        </div>

        <div class="stat">
          <h2>1000+</h2>

          <p>Patient Capacity</p>
        </div>

        <div class="stat">
          <h2>24 Hours</h2>

          <p>Availability</p>
        </div>

        <div class="stat">
          <h2>10</h2>

          <p>Clinic Locations</p>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
